.form-view-col {
  text-align: left;
}
.form-label {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  padding: 10px 15px;
  width: 120px;
}


.form-value {
  color: #778899;
}

.search-view-col {
  padding-left:20px;
}
